@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #000000;
    --verde: #007c3a;
    --branco: #FFFFFF;
    --botao-ativo: #9c5fff;
    --botao-inativo: rgba(21, 30, 156, 0.5);
    --texto-fundo: rgba(100, 21, 165, 0.356);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--verde);
}
